/* common */
html { font-size:1px; width:100%; min-height:100vh; overflow:auto } 
body, #header {min-width:1300rem}
.wrap { width:100%; min-height:100vh; margin:0 auto; margin-top:107rem; overflow:auto; font-size:16rem } 
#container { width:100%; max-width:1300rem; margin: 0 auto; } 

/* 버튼 */
.common-btn { font-size:16rem; white-space:nowrap; border-radius:3rem; background:#F4F4F4; border:solid 1px #BBB; color:#666; min-height:44rem; padding:0 42rem; display:inline-block; } 
.common-btn:hover, .common-btn.active { border:solid 1px #3BB88C; background:#3BB88C; color:#fff; } 
.common-btn:disabled { border:solid 1px #999; background:#ddd; color:#999; cursor:default; } 
.button-wrap .button-wrap-list { display: flex; align-items: center; justify-content: space-between; } 
.button-wrap .button-wrap-list > li { width: calc(100% / 2 - 6rem); } 
label.common-btn { width:120rem; display:flex; align-items:center; justify-content:center;}
.common-btn.preview-btn { width:120rem; display:flex; align-items:center; justify-content:center;}
.login-modal .common-btn { border: 1px solid #eee; border-radius: 8rem; font-size: 14rem; font-weight: bold; min-height: 48rem;width: 100%;display: flex;align-items: center;justify-content: center;} 
.common-btn.regist {background:#3BB88C; color:#fff; border:solid 1px #3BB88C;width: 120rem;padding: 0;display: flex;align-items: center;justify-content: center;}
.common-btn.regist::after{content: '';width: 28rem;height: 28rem;display: inline-block;background: url(/hyundai_robotics_admin/assets/images/common/regist_active_icon.png) no-repeat center/ contain;margin-left: 5rem;}
.common-btn.regist:disabled{background: #ddd;border: 1px solid #999;color: #999;}
.common-btn.regist:disabled::after{background: url(/hyundai_robotics_admin/assets/images/common/regist_icon.png) no-repeat center/ contain;}

/* 체크박스 및 라디오 버튼 */
.input-wrap.check label, .input-wrap.radio label { display:flex; align-items:center; line-height:1; gap:8rem; font-size:16rem } 
input[type="checkbox"] { position:relative;  width: 20rem !important; height: 20rem !important;} 
input[type="checkbox"]::after { content:''; width: 20rem !important; height: 20rem !important; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background:url(/hyundai_robotics_admin/assets/images/common/icon_checkbox_default.svg); } 
input[type="checkbox"]:checked::after {background:url(/hyundai_robotics_admin/assets/images/common/icon_checkbox_checked.svg);} 
input[type="radio"] { position:relative;  width: 20rem !important; height: 20rem !important;} 
input[type="radio"]::after { content:''; width: 20rem !important; height: 20rem !important; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background:url(/hyundai_robotics_admin/assets/images/common/icon_radio_default.svg); } 
input[type="radio"]:checked::after {background:url(/hyundai_robotics_admin/assets/images/common/icon_radio_checked.svg);} 

/* 인풋박스 */
input[type="text"],input[type="search"], input[type="password"], input[type="email"], input[type="number"]  { border:solid 1px #BBB; background:#fff; border-radius:3rem; height:44rem; padding:0 14rem; font-size:16rem; margin-top:20rem } 
input[type="text"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="email"]:focus, 
input[type="number"]:focus { outline:solid 1.5px #222; border:solid 1px #fff; } 
input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder, input[type="number"]::placeholder { color:#999; font-size:16rem } 
input[type="text"]:disabled, input[type="password"]:disabled, input[type="email"]:disabled, input[type="number"]:disabled  { border:solid 1px #999; background:#ddd; } 
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}
input[type="text"] + button, input[type="text"] + button + button { margin-left:14rem; }
.input-wrap { display:flex; align-items:flex-end } 
.login-modal .input-wrap { flex-direction: column; } 
.input-wrap.red { position:relative; display:inline-block; } 
.input-wrap.red input[type="text"], .input-wrap.red input[type="password"], .input-wrap.red input[type="number"], .input-wrap.red input[type="email"] { outline:solid 1.5px #E81953; border:solid 1px #fff; } 
.input-wrap .alert { display:none }
.input-wrap.red .alert { display:block; position:absolute; right:0; top:2rem; font-size:12rem; font-weight:700; color:#e81953 } 
.login-modal input:not(input[type="button"]) { border-radius: 3rem; } 
.input-wrap.categorie .select-wrap{width: 160rem;} 
.input-wrap.file { display:flex; gap:14rem }
.input-wrap.file input[type="text"] {width:666rem}
.info-list-type02 .info.date-list .input-wrap:not(:first-child){margin-top: 0;}
.info.date-list{display: flex;align-items: center;}
.info.date-list > span{display: block;margin: 0 18rem;font-size: 16rem;color: #999;}
.info.date-list input[type="button"]{width: 120rem!important;margin-left: 14rem;padding: 0;}
.input-wrap.file input[type="text"] {width:666rem; pointer-events:none}
.input-wrap.date{width: 160rem;position: relative;}
.input-wrap.date::after{content: '';width: 24rem;height: 24rem;position: absolute;right: 10rem;bottom: 10rem;background: url(/hyundai_robotics_admin/assets/images/common/data_icon.png) no-repeat center/ contain;}
.input-wrap.date input[type="text"] {width:160rem;height: 44rem;border: 1px solid #bbb;border-radius: 3rem;}
.input-wrap.image{width: 200rem;height: 200rem;border: 1px solid #bbb;display: flex;align-items: center;justify-content: center;}

/* 셀렉트 박스 (드롭박스) */
.select-wrap { width:100%; max-width:160rem; position:relative; } 
.select-wrap.disabled .selected-option {pointer-events:none; border:solid 1px #999; background:#ddd;}
.select-wrap.disabled .selected-option::before { display:none }
.select-wrap .selected-option { font-size:16rem; color:#999; display:flex; align-items:center; height:44rem; padding:0 40rem 0 14rem; border-radius:3rem; background:#fff; border:solid 1px #bbb } 
.select-wrap .selected-option.selected {font-size:#222;}
.select-wrap .option-list { display:none; width:100%; border-radius:3rem; border:solid 1px #bbb; background:#fff; position:absolute; left:0; top:48rem; padding:8rem 13rem; z-index:3; } 
.select-wrap .option-list li { height:32rem; display:flex; align-items:center; border-radius:3rem; padding:0 13rem; } 
.select-wrap .option-list li:hover { background:#F4F4F4; }
.select-wrap .option-list li a { font-size:16rem } 
.select-wrap .selected-option::before { transition:0.3s; content:url(/hyundai_robotics_admin/assets/images/common/icon_select_arr.svg); position:absolute; right:15rem; top:53%; transform:translateY(-50%) } 
.select-wrap .selected-option.active::before { top:50%; transform:translateY(-50%) rotate(-180deg) } 

/* 페이지네이션 */
#pagination .pagination-inner a { display:flex; align-items:center; justify-content:center; width:32rem; height:32rem; background:#fff; border:solid 1px #bbb; border-radius:3rem; font-size:16rem } 
#pagination .pagination-inner a.active { background:#3BB88C; border:solid 1px #3bb88c; color:#fff; } 
#pagination .pagination-inner, #pagination .number-wrap, #pagination .arr-wrap { display:flex; gap:6rem;}
#pagination .arr-wrap a {border:0}

/* 네비게이션 */
#navigation { margin-bottom:3rem } 
#navigation > ul { display:flex; gap:20rem; align-items:center; } 
#navigation > ul a { font-size:16rem; color:#999; } 
#navigation > ul .depth01::before { content:url(/hyundai_robotics_admin/assets/images/common/icon_home.svg); position:relative; top:1rem } 
#navigation > ul > li { position:relative; } 
#navigation > ul > li::after { content:">"; font-size:16rem; color:#999; position:absolute; right:-14rem; } 
#navigation > ul > li:last-child::after { display:none; } 

/* 탭 */
#tab { width:100%; max-width:1300rem; margin:0 auto; } 
#tab .tab-list { display:flex; flex-wrap:wrap; gap:8rem; } 
#tab .tab-list li a { width:120rem; font-size:16rem; display:flex; align-items:center; justify-content:center; min-height:44rem; padding:0 42rem; border:solid 1px #bbb; color:#999; background:#F5FCF9; border-radius:3rem; white-space:nowrap; } 
#tab .tab-list li a.active { background:#3BB88C; color:#fff; border:solid 1px #3BB88C; } 
#tab.width160 .tab-list li a { width:160rem; }
#tab + .search-wrap{margin-top: 12rem;}
/* 타이틀 영역 */
#topArea .title-wrap { width:1300rem; margin:0 auto; /*padding:33rem 0 70rem;*/padding: 33rem 0 30rem; } 
#topArea .title-wrap h2.main-tit { font-size:30rem; color:#222; font-weight:700; line-height:44rem; letter-spacing:-0.018em; } 

/* 테이블 공통 */
.table-wrap .all {margin-bottom:10rem;}
.table-wrap .table-info { margin-top:12rem; color:#999; line-height:24rem;}
.table-wrap.empty { position:relative;}
.table-wrap.empty table{outline: 0;}
.table-wrap.empty table tr{border-bottom: 0;}
.table-wrap.empty .empty-info { position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); text-align:center}
.table-wrap.empty .empty-info img {width:190rem; }
.table-wrap.empty .empty-info p { margin-top:55rem; font-size:20rem; color:#7B7B7B;}
.table-alert { display:flex; align-items:center; height:52rem; gap:8rem } 
.table-alert strong { font-size:18rem; font-weight:500; } 
.table-wrap + .table-wrap { margin-top:26rem; }
.table-wrap .btn-wrap {display:flex; justify-content:flex-end; margin-top:26rem;}
.table-wrap .input-wrap.radio label {font-size:14rem}

/* 테이블 타입 1 */
.table-type01 { width:100%; max-width:1300rem; border-radius:3rem; background:#fff; outline:solid 1px #BBB;overflow: hidden;} 
.table-type01 .num { width:100rem; } 
.table-type01 tr { height:30rem; border-bottom:solid 1px #BBB } 
.table-type01 tr:last-child { border-bottom:0 } 
.table-type01 tr:nth-child(odd) { background:#F5FCF9 } 
.table-type01 tr:nth-child(even) { background:#fff } 
.table-type01 th { font-size:16rem; background:#3BB88C; color:#fff; font-weight:500 } 
.table-type01 td { font-size:14rem; text-align:center;/* border-right:solid 1px #BBB */ } 
.table-type01 td:first-child, .table-type01 td:last-child { border-right:0 } 
.table-type01 td div { height:30rem; display:flex; align-items:center; justify-content:center; } 
/* .table-type01 td div:first-child { border-bottom:solid 1px #bbb; }  */
.table-type01 td.setting .input-wrap { display:flex; gap:60rem; justify-content:center; } 
.table-type01 input[type="checkbox"] {margin-left:10rem;}

.table-type01.border-td td{border-right:solid 1px #BBB}
.table-type01.border-td td:last-child { border-right:0 } 
.table-type01.border-td input[type="checkbox"] {margin-left:0;}

/* 테이블 타입 2*/
.table-type02 { width:100%; max-width:800rem; border-radius:3rem; background:#fff; outline:solid 1px #BBB; } 
.table-type02 .col:first-child { width:30% } 
.table-type02 .col:last-child { width:70% } 
.table-type02 thead { background:#f4f4f4; } 
.table-type02 tr { height:34rem; border-bottom:solid 1px #bbb; } 
.table-type02 tbody tr:last-child { border-bottom:0 } 
.table-type02 th { font-weight:500; color:#222; } 
.table-type02 th, .table-type02 td { border-right:solid 1px #bbb; padding:7rem 14rem; font-size:15rem; } 
.table-type02 th:last-child, .table-type02 td:last-child { border-right:0 } 
.table-type02 .input-wrap.check {gap:60rem}
.table-type02 .input-wrap.check input {margin:0}

/* 테이블 타입 3 ( 콘텐츠 관리 - 히어로 설정) */
.table-type03 { width:100%; max-width:1300rem; border-radius:3rem; background:#fff; outline:solid 1px #BBB; } 
.table-type03 .num { width:100rem; } 
.table-type03 tr { height:30rem; border-bottom:solid 1px #BBB } 
.table-type03 tr:last-child { border-bottom:0 } 
.table-type03 tr:nth-child(odd) { background:#F5FCF9 } 
.table-type03 tr:nth-child(even) { background:#fff } 
.table-type03 th { font-size:16rem; background:#3BB88C; color:#fff; font-weight:500 } 
.table-type03 td { font-size:14rem; text-align:center; border-right:solid 1px #BBB } 
.table-type03 td:first-child, .table-type03 td:last-child { border-right:0 } 
.table-type03 td div { height:30rem; display:flex; align-items:center; justify-content:center; white-space:nowrap } 
.table-type03 td div:first-child { border-bottom:solid 1px #bbb; } 
.table-type03 td.setting .input-wrap { display:flex; gap:60rem; justify-content:center; } 
.table-type03 input[type="checkbox"] {margin-left:10rem;}
.table-type03 .radio label {font-size:14rem}

/* 테이블 타입 4 ( 콘텐츠 관리 - 메인배너) */
.table-type04 { width:100%; max-width:1300rem; border-radius:3rem; background:#fff; outline:solid 1px #BBB; } 
.table-type04 .num { width:100rem; } 
.table-type04 tr { height:72rem; border-bottom:solid 1px #BBB } 
.table-type04 thead tr {height:34rem}
.table-type04 tr:last-child { border-bottom:0 } 
.table-type04 tbody tr { background:#F5FCF9 } 
.table-type04 tbody tr:nth-child(n+4) { background:#fff } 
.table-type04 th { font-size:16rem; background:#3BB88C; color:#fff; font-weight:400 } 
.table-type04 td { font-size:14rem; text-align:center; border-right:solid 1px #BBB } 
.table-type04 td:first-child, .table-type04 td:last-child { border-right:0 } 
.table-type04 td .media-list li { display:flex; align-items:center; } 
.table-type04 td .media-list li .title {width:115rem; font-size:14rem }
.table-type04 td .media-list li .title { }
.table-type04 input, .table-type04 .common-btn { height:32rem; min-height:32rem; width:120rem; font-size:14rem;}
.table-type04 .common-btn { padding:0; }
.table-type04 input[type="text"] { margin-top:0; font-size:14rem; width:660rem !important }
.table-type04 input::placeholder {font-size:14rem;}
.table-type04 .info {text-align:left}
.table-type04 .alert {color:#999; font-size:12rem; margin-top:3rem; display:inline-block; }
.table-type04 td:last-child , .manifesto.table-type04 td:last-child {border-right:0}

.manifesto.table-type04 {}
.manifesto.table-type04 tbody tr {min-height:92rem; height:auto;}
.manifesto.table-type04 tbody tr td { padding:12rem 0}
.manifesto.table-type04 .input-wrap.radio {  width:180rem; display:flex; flex-direction:column; align-items:flex-start; padding-left:40rem  }
.manifesto.table-type04 .input-wrap.radio label {font-size:14rem}
.manifesto.table-type04 li > .title { width:180rem !important }
.manifesto.table-type04 li > .title-wrap { display:flex; flex-direction:column; gap:21rem }
.manifesto.table-type04 .input-wrap.file + .input-wrap.file {margin-top:9rem}
.manifesto.table-type04 input[type="text"] { width:535rem !important }
.manifesto.table-type04 .btn-wrap {display:flex; align-items:center; justify-content:center; flex-direction:column }
.manifesto.table-type04 span.alert + .input-wrap {margin-top:10rem}
.manifesto.table-type04 tbody tr { background:#F5FCF9 } 
.manifesto.table-type04 tbody tr:nth-child(n+3) { background:#fff } 
.manifesto.table-type04 tbody tr:nth-child(even) .title-wrap { gap:41rem; }
.manifesto.table-type04 .link {display:none}

/* 테이블 타입 5 ( 콘텐츠 관리 - 메인배너) */
.table-type05 { width:100%; max-width:1300rem; border-radius:3rem; background:#fff; outline:solid 1px #BBB; } 
.table-type05 .num { width:100rem; } 
.table-type05 tr { height:72rem; border-bottom:solid 1px #BBB } 
.table-type05 thead tr {height:34rem}
.table-type05 tr:last-child { border-bottom:0 } 
.table-type05 tbody tr { background:#F5FCF9 } 
.table-type05 tbody tr:nth-child(n+4) { background:#fff } 
.table-type05 th { font-size:16rem; background:#3BB88C; color:#fff; font-weight:400 } 
.table-type05 td { font-size:14rem; text-align:center; border-right:solid 1px #BBB } 
.table-type05 td:last-child { border-right:0 } 
.table-type05 td .media-list li { display:flex; align-items:center; } 
.table-type05 td .media-list li .title {width:115rem; font-size:14rem }
.table-type05 td .media-list li .title { }
.table-type05 input, .table-type05 .common-btn { height:32rem; min-height:32rem; width:120rem; font-size:14rem;}
.table-type05 .common-btn { padding:0; }
.table-type05 input[type="text"] { margin-top:0; font-size:14rem; width:660rem !important }
.table-type05 input::placeholder {font-size:14rem;}
.table-type05 .info {text-align:left}
.table-type05 .alert {color:#999; font-size:12rem; margin-top:3rem; display:inline-block; }
.table-type05 td:last-child , .manifesto.table-type04 td:last-child {border-right:0}
.table-type05 li {min-height:70rem; display:flex; align-items:center; flex-direction:column; justify-content:center; padding:20rem; word-break:keep-all; line-height:24rem; letter-spacing:-0.08em}
.table-type05 li:first-child {border-bottom:solid 1px #bbb;}
.table-type05 img {width:120rem; height:120rem; border-radius:3rem; border:solid 1px #BBB; object-fit:cover;}
.table-type05 .input-wrap.radio { display:flex; flex-direction:column; align-items:flex-start; gap:30rem; padding-left:45rem; }

/* 레이아웃 LAY OUT */

/* TOP AREA 탑영역 */
#topArea .alert { display:inline-block; font-size:16rem; color:#999; margin-top:3rem; }
#topArea.tab { padding-bottom:12rem } 
#topArea.tab .title-wrap, #topArea.search .title-wrap { padding-bottom:16rem } 
#topArea.search .search-wrap {}
#topArea.search .search-wrap-inner { display:flex; justify-content:space-between; padding-bottom:12rem }
#topArea.search .search-wrap .select-wrap { width:120rem; }
#topArea.search .search-wrap .select-wrap:not(:first-child){margin-left: 14rem;}
#topArea.search .search-wrap .select-wrap.wd160 { width:160rem; }
#topArea.search .search-wrap .select-wrap a {color:#222;}
#topArea.search .search-wrap .left {position:relative; display:flex; align-items:flex-end; gap:12rem}
#topArea.search .search-wrap .right{display: flex;align-items: center;}
#topArea.search .search-wrap .right .regist{margin-left: 14rem;width: 120rem;}
#topArea.search .search-wrap .num {margin-bottom:5rem}
#topArea.search .search-wrap input[type="search"]{width:380rem;margin: 0 14rem 0 0;}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration{
    -webkit-appearance: none;
    width: 20rem; 
    height: 20rem; 
    background: url(/hyundai_robotics_admin/assets/images/common/search_reset_btn.png) no-repeat center/ contain;
    cursor: pointer;
}
#topArea .button-wrap { position:relative; display:flex; justify-content:flex-end; min-height:44rem }
#topArea .button-wrap .alert {position:absolute; top:50%; transform:translateY(-50%); left:0;}
#topArea .button-wrap .alert strong { font-size:18rem; margin-right:8rem; font-weight:500 }
#topArea .button-wrap .alert .common-btn { width:80rem; padding:0; height:32rem; min-height:32rem; font-size:14rem; margin-top:8rem; margin-left:10rem; }
#topArea .button-wrap + .search-wrap .right input {margin-top:0;}
#topArea .button-wrap + .search-wrap {padding-bottom:0;}

/* MID AREA 중간영역 *

/* 인포 리스트 타입 01 */
.info-list-type01 { display:flex; gap:20rem; flex-direction:column; } 
.info-list-type01.dividing-line{border-bottom: 1px solid #bbb;padding-bottom: 22rem;margin-bottom: 22rem;}
.info-list-type01 li { display:flex; min-height:44rem; align-items:center; } 
.info-list-type01 .title { width:160rem; font-size:18rem; font-weight:500; word-break:nowrap } 
.info-list-type01 .info { width:100% } 
.info-list-type01 li.table-li { align-items:flex-start; } 
.info-list-type01 input, .info-list-type01 .select-wrap { display:inline-block; margin:0; width:390rem; max-width:100%; } 
.info-list-type01 input.main-title{width: 658rem;}
.info-list-type01 input + input, .info-list-type01 .select-wrap + .select-wrap { margin-left:16rem } 
.info-list-type01 li .input-wrap.red .alert { top:-17rem } 

/* 인포 리스트 타입 02 */
.info-list-type02 { display:flex; flex-direction:column; gap:22rem;}
.info-list-type02 li { display:flex; flex-direction:column; gap:9rem; }
.info-list-type02 .title { font-size:18rem; font-weight:500; }
.info-list-type02 li.info-item-col .info, .info-list-type02 li.info-item-no-preview .info{display: flex;}
.info-list-type02 li.info-item-col .input-wrap.file input{width: 446rem;}
.info-list-type02 li.info-item-no-preview .input-wrap.file input[type="text"]{width: 580rem;}
.info-list-type02 li.info-item-col .info .title,
.info-list-type02 li.info-item-no-preview .info .title { font-size:16rem; font-weight:normal;width: 86rem;color: #999;margin-top: 12rem;}
.info-list-type02 .info .input-wrap:not(:first-child){margin-top: 12rem;}
.info-list-type02 .info textarea{max-width: 800rem;min-width: 800rem;max-height: 200rem;min-height: 200rem; border: 1px solid #bbb;border-radius: 3rem;padding: 12rem;}
.info-list-type02 .info .select-wrap{max-width: 800rem;}
.info-list-type02 .info .select-wrap .option-list li{align-items: flex-start;}
.info-list-type02 .info .select-list{display: flex;gap: 14rem 12rem;}
.info-list-type02 .info .select-list + .input-wrap{margin-top: 12rem;}
.info-list-type02 .info .select-list .select-wrap{max-width: 160rem;}
.info-list-type02 .info .alert { font-size:12rem; color:#999; } 
.info-list-type02 input {margin:0; width:800rem;}
.info-list-type02 .radio {display:flex; gap:40rem; align-items:center;}
.info-list-type02 .radio label {width:120rem;}
.info-list-type02 .check{display:grid; gap:20rem; align-items:center;grid-template-columns: 125rem 125rem 125rem 125rem;}
.info-list-type02 .check label{width: 125rem;}
.info-list-type02 .info-list-item{display: flex;align-items: center;gap: 14rem;}
.info-list-type02 .info-list-item .info input{max-width: 80rem;}
.btn-wrap { display:flex; gap:14rem; } 

/* BOTTOM AREA 하단영역 */
#bottomArea { width:100%; max-width:1300rem; min-height:44rem; margin:0 auto; margin-bottom:250rem; position:relative; display:flex; align-items:center; margin-top:53rem; } 
#bottomArea::before { content:""; display:inline-block; width:100%; height:1px; background:#bbb; position:absolute; top:-27rem; left:50%; transform:translateX(-50%) }
#bottomArea.no-line {margin-top:26rem;}
#bottomArea.no-line::before {display:none}
#bottomArea .btn-wrap:last-child {position:absolute; top:50%; right:0; transform:translateY(-50%)}
#bottomArea #pagination {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)}


/* 팝업 */
#popupWrap{position: relative;}
.popup-cont{width: 100vw;height: 100vh;background: rgba(0,0,0,0.5);display: none;}
.popup-cont.active{display: block;}
.popup-btn-wrap {position: absolute;top: 30rem;left: 30rem;display: flex;align-items: center;max-width:1240rem;flex-wrap: wrap;z-index: 9999;}
.popup-btn-wrap > a{display: block;padding: 0 25rem;height: 48rem;border: 1px solid #000;font-size: 16rem;display: flex;align-items: center;justify-content: center;border-radius: 30rem;margin-right: 20rem;margin-top: 10rem;background: #fff;}
.popup-btn-wrap > a:hover{background: #3BB88C;color: #fff;border: 1px solid #3BB88C;}
.modal-wrap{border: 1px solid #bbb;background: #fff;border-radius: 3rem;width: 100%;max-width: 400rem;padding: 48rem 14rem 26rem;position: absolute;left: 50%;top:50%;transform: translate(-50%,-50%);display: none;}
.modal-wrap.active{display: block;}
.modal-wrap.txt-align-left .modal-tit, .modal-wrap.txt-align-left .modal-info > p{text-align: left;}
.modal-wrap .modal-closed{width: 28rem;height: 28rem;position: absolute;top: 15rem;right: 10rem;}
.modal-wrap .modal-tit{font-size: 24rem;line-height: 32rem;font-weight: bold;text-align: center;margin-bottom: 10rem;}
.modal-wrap .modal-info p{text-align: center;font-size: 14rem;line-height: 22rem;color: #646464;}
.modal-wrap .modal-logo{width: 100%;}
.modal-wrap input:not(input[type="button"], input[type="checkbox"]){height: 48rem;width: 100%;border: 1px solid #ddd;outline: none;padding: 18rem 14rem;font-size: 14rem;border-radius: 3rem;margin-top: 0;}
.modal-wrap input:not(input[type="button"]):focus{border: 1px solid #0066B3;}
.modal-wrap .input-list{margin-top: 26rem;}
.modal-wrap .input-list > div:not(:first-child){margin-top: 16rem;}
.modal-wrap .guideline{color: #999;text-decoration: underline;font-weight: bold;display: block;}
.modal-wrap .button-wrap .guideline{margin-top: 14rem;font-size: 14rem;text-align: center;}
.modal-wrap .input-list > div.password-wrap .find-password{font-size: 10rem;margin-top: 6rem;margin-left: auto;text-align: right;}
.modal-wrap .alert {color: #E81953;font-size: 12rem;position: absolute;top: -20rem;font-weight: bold;}
.modal-wrap .button-wrap{margin-top: 36rem;}
.modal-wrap .button-wrap .common-btn{width: 100%;}

.modal-wrap.login-modal{max-width: 500rem;padding: 36rem 70rem;border-radius: 8rem;border: 1px solid #fff;}
.modal-wrap.login-modal .button-wrap{margin-top: 30rem;position: relative;}
.modal-wrap.login-modal .button-wrap .alert{left: 50%;transform: translateX(-50%);display: none;}
.modal-info-cont{border: 1px solid #bbb;background: #f4f4f4;border-radius: 5rem;margin-top: 21rem;height: 194rem;position: relative;overflow: hidden;}
.modal-info-list{width: 95%;height: 90%;position: absolute;top: 50%;right: 5rem;transform: translateY(-50%);overflow-y: auto;}
.modal-info-list::-webkit-scrollbar {width: 6rem;}
.modal-info-list::-webkit-scrollbar-thumb {background: #E5E5E5;border-radius: 5rem;}
.modal-info-list > li{font-size: 12rem;line-height: 17rem;color: #222;}
.modal-info-list > li:not(:first-child){margin-top: 4rem;}
.modal-search{width: 100%;display: flex;justify-content: space-between;}
.modal-search > input[type="text"]{width: calc(80% - 4rem)!important;height: 32rem!important;padding: 0!important;padding-left: 9rem!important;}
.modal-search > input[type="button"]{width: calc(20% - 4rem);height: 32rem;background: #f4f4f4;border: 1px solid #bbb;border-radius: 3rem;font-size: 14rem;}

/* modal-table */
.modal-info-cont.modal-info-table{margin-top: 12rem;height: 397rem;background: #fff;}
.modal-info-cont.modal-info-table .modal-info-thead{display: flex;align-items: center;border-bottom: 1px solid #bbb;background: #f4f4f4;}
.modal-info-cont.modal-info-table .modal-info-thead > li{text-align: center;padding: 3rem 0;font-size: 12rem;}
.modal-info-cont.modal-info-table .modal-info-thead > li.checkbox{width: 15%;}
.modal-info-cont.modal-info-table .modal-info-thead > li:nth-child(2){width: 20%;}
.modal-info-cont.modal-info-table .modal-info-thead > li:nth-child(3){width: 65%;}
.modal-table {width: 100%;height: 372rem;overflow-y: auto;}
.modal-table table{width: 100%;}
.modal-table::-webkit-scrollbar {width: 6rem;}
.modal-table::-webkit-scrollbar-thumb {background: #E5E5E5;opacity: 0.5;}
.modal-table tbody tr{border-bottom: 1px solid #bbb;}
.modal-table tbody tr td{padding: 8rem 0;text-align: center;font-size: 12rem;}
.modal-table .modal-table-noresult{width: inherit;height: inherit;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.modal-table .modal-table-noresult .noresult-icon{width: 96rem;}
.modal-table .modal-table-noresult p{color: #7B7B7B;margin-top: 20rem;font-size: 14rem;}
.modal-info-table .input-wrap{align-items: center;justify-content: center;}
.modal-info-table .input-wrap input[type="checkbox"]::after{width: 16rem;height: 16rem;background-repeat: no-repeat;background-size: contain;background-position: center;}

/* datepicker custom */
.ui-widget-header { border: 0rem solid #dddddd; background: #fff; } 

 .ui-datepicker-calendar>thead>tr>th { font-size: 16rem !important;font-weight: 500!important; } 

 .ui-datepicker .ui-datepicker-header { position: relative; padding: 10rem; } 

 .ui-state-default,
 .ui-widget-content .ui-state-default,
 .ui-widget-header .ui-state-default,
 .ui-button,
 html .ui-button.ui-state-disabled:hover,
 html .ui-button.ui-state-disabled:active { border: 0rem solid #c5c5c5; background-color: transparent; font-weight: normal; color: #454545; text-align: center; } 

 .ui-datepicker .ui-datepicker-title { margin: 0 0em; line-height: 32rem; text-align: center; font-size: 24rem; padding: 0rem; font-weight: bold;position: absolute;left: 50%;transform: translateX(-50%);top: 8rem;} 

 .ui-datepicker { display: none; background-color: #fff; border-radius: 4rem; margin-top: 10rem; margin-left: 0rem; margin-right: 0rem; padding: 8rem; padding-bottom: 10rem; width: 350rem; box-shadow: 10rem 10rem 40rem rgba(0, 0, 0, 0.1); } 

 .ui-widget.ui-widget-content { border: 1rem solid #eee; } 

 #datepicker:focus>.ui-datepicker { display: block; } 

 .ui-datepicker-prev,
 .ui-datepicker-next { cursor: pointer; } 

 .ui-datepicker-next { float: right; } 

 .ui-state-disabled { cursor: auto; color: hsla(0, 0%, 80%, 1); } 

 .ui-datepicker-title { text-align: center; padding: 10rem; font-weight: 100; font-size: 20rem; } 

 .ui-datepicker-calendar { width: 100%;margin-top: 15rem;}  

 .ui-datepicker-calendar>thead>tr>th { padding: 5rem; font-size: 20rem; font-weight: 400; } 

 .ui-datepicker-calendar>tbody>tr>td>a { color: #000; font-size: 16rem !important; font-weight: normal !important; text-decoration: none;}

 .ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover { cursor: auto; background-color: #fff; } 

 .ui-datepicker-calendar>tbody>tr>td { border-radius: 100%; width: 24rem; height: 24rem; cursor: pointer; padding: 5rem; font-weight: 100; text-align: center; font-size: 16rem;position: relative;} 
 .ui-datepicker-calendar>tbody>tr>td.ui-datepicker-current-day a{content: '';width: 24rem;height: 24rem;border-radius: 50%;background: rgba(59,184,150,0.2);position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
 .ui-datepicker-calendar>tbody>tr>td:hover { background-color: transparent; opacity: 0.6; } 

 .ui-state-hover,
 .ui-widget-content .ui-state-hover,
 .ui-widget-header .ui-state-hover,
 .ui-state-focus,
 .ui-widget-content .ui-state-focus,
 .ui-widget-header .ui-state-focus,
 .ui-button:hover,
 .ui-button:focus { border: 0rem solid #cccccc; background-color: transparent; font-weight: normal; color: #2b2b2b; } 

 .ui-widget-header .ui-icon {width: 24rem;height: 24rem;text-indent: -9999em;display: block;background: url(/hyundai_robotics_admin/assets/images/common/date_prev_arrow.png) no-repeat center/ contain; } 
 .ui-widget-header .ui-icon-circle-triangle-e{background: url(/hyundai_robotics_admin/assets/images/common/date_next_arrow.png) no-repeat center/ contain;}

 .ui-icon-circle-triangle-e { background-position: -20rem 0rem; background-size: 36rem; } 

 .ui-icon-circle-triangle-w { background-position: -0rem -0rem; background-size: 36rem; } 
 .ui-state-highlight,
 /* .ui-widget-content .ui-state-highlight,
 .ui-widget-header .ui-state-highlight { border: 0rem;background: rgba(59, 184, 140, 0.2);border-radius: 50%; padding-top: 10rem; padding-bottom: 10rem;width: 100%;height: 100%;}  */

 .inp { padding: 10rem 10rem; background-color: #f1f1f1; border-radius: 4rem; border: 0rem; } 

 .inp:focus { outline: none; background-color: #eee; } 
