/* common */
html { font-size:1px; width:100%; overflow:auto } 
body,#header { min-width:1920rem } 
.wrap { width:100%; margin:0 auto; margin-top:107rem; overflow:auto; font-size:16rem } 
#container { width:100%; max-width:1300rem; margin: 0 auto; } 

/* 버튼 */
.common-btn { font-size:16rem; white-space:nowrap; border-radius:3rem; background:#F4F4F4; border:solid 1px #BBB; color:#666; min-height:44rem; padding:0 42rem; display:inline-block; } 
.common-btn:hover, .common-btn.active { border:solid 1px #3BB88C; background:#3BB88C; color:#fff; } 
.common-btn:disabled { border:solid 1px #999; background:#ddd; color:#999; cursor:default; } 
.button-wrap .button-wrap-list { display: flex; align-items: center; justify-content: space-between; } 
.button-wrap .button-wrap-list > li { width: calc(100% / 2 - 6rem); } 
.login-modal .common-btn { border: 1px solid #eee; border-radius: 8rem; font-size: 14rem; font-weight: bold; min-height: 48rem; } 

/* 체크박스 및 라디오 버튼 */
.input-wrap.check label, .input-wrap.radio label { display:flex; align-items:center; line-height:1; gap:8rem; font-size:16rem } 
input[type="checkbox"] { position:relative; } 
input[type="checkbox"]::after { content:''; width: 20rem; height: 20rem; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background:url(/hyundai_robotics_admin/assets/images/common/icon_checkbox_default.svg); } 
input[type="checkbox"]:checked::after {background:url(/hyundai_robotics_admin/assets/images/common/icon_checkbox_checked.svg);} 
input[type="radio"] { position:relative; } 
input[type="radio"]::after { content:''; width: 20rem; height: 20rem; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background:url(/hyundai_robotics_admin/assets/images/common/icon_radio_default.svg); } 
input[type="radio"]:checked::after {background:url(/hyundai_robotics_admin/assets/images/common/icon_radio_checked.svg);} 

/* 인풋박스 */
input[type="text"] { border:solid 1px #BBB; background:#fff; border-radius:3rem; height:44rem; padding:0 14rem; font-size:16rem; margin-top:20rem } 
input[type="text"]:focus { outline:solid 1.5px #222; border:solid 1px #fff; } 
input[type="text"]::placeholder { color:#999; font-size:16rem } 
input[type="text"]:disabled { border:solid 1px #999; background:#ddd; } 
.input-wrap { display:flex } 
.login-modal .input-list { flex-direction: column; } 
input[type="text"] + button { margin-left:14rem; }
.input-wrap { display:flex; align-items:flex-end } 
.login-modal .input-wrap { flex-direction: column; } 
.input-wrap.red { position:relative; display:inline-block; } 
.input-wrap.red input[type="text"] { outline:solid 1.5px #E81953; border:solid 1px #fff; } 
.input-wrap.red .alert { position:absolute; right:0; top:2rem; font-size:12rem; font-weight:700; color:#e81953 } 
.login-modal input:not(input[type="button"]) { border-radius: 3rem; } 

/* 셀렉트 박스 (드롭박스) */
.select-wrap { width:100%; max-width:160rem; position:relative; } 
.select-wrap .selected-option { font-size:16rem; color:#222; display:flex; align-items:center; height:44rem; padding:0 40rem 0 14rem; border-radius:3rem; background:#fff; border:solid 1px #bbb } 
.select-wrap .option-list { display:none; width:100%; border-radius:3rem; border:solid 1px #bbb; background:#fff; position:absolute; left:0; top:48rem; padding:8rem 13rem } 
.select-wrap .option-list li { height:32rem; display:flex; align-items:center; border-radius:3rem; padding:0 13rem; } 
.select-wrap .option-list li:hover { background:#F4F4F4; } 
.select-wrap .option-list li a { font-size:16rem } 
.select-wrap .selected-option::before { transition:0.3s; content:url(/hyundai_robotics_admin/assets/images/common/icon_select_arr.svg); position:absolute; right:15rem; top:53%; transform:translateY(-50%) } 
.select-wrap .selected-option.active::before { top:50%; transform:translateY(-50%) rotate(-180deg) } 

/* 페이지네이션 */
#pagination .pagination-inner a { display:flex; align-items:center; justify-content:center; width:32rem; height:32rem; background:#fff; border:solid 1px #eee; border-radius:3rem; font-size:16rem } 
#pagination .pagination-inner a.active { background:#3BB88C; color:#fff; } 
#pagination .pagination-inner, #pagination .number-wrap, #pagination .arr-wrap { display:flex; gap:6rem } 

/* 네비게이션 */
#navigation { margin-bottom:3rem } 
#navigation > ul { display:flex; gap:20rem; align-items:center; } 
#navigation > ul a { font-size:16rem; color:#999; } 
#navigation > ul .depth01::before { content:url(/hyundai_robotics_admin/assets/images/common/icon_home.svg); position:relative; top:1rem } 
#navigation > ul > li { position:relative; } 
#navigation > ul > li::after { content:">"; font-size:16rem; color:#999; position:absolute; right:-14rem; } 
#navigation > ul > li:last-child::after { display:none; } 

/* 탭 */
#tab { width:100%; max-width:1300rem; margin:0 auto; } 
#tab .tab-list { display:flex; flex-wrap:wrap; gap:8rem; } 
#tab .tab-list li a { font-size:16rem; display:flex; align-items:center; justify-content:center; min-height:44rem; padding:0 42rem; border:solid 1px #bbb; color:#999; background:#F5FCF9; border-radius:3rem; white-space:nowrap; } 
#tab .tab-list li a.active { background:#3BB88C; color:#fff; border:solid 1px #3BB88C; } 

/* 타이틀 영역 */
.title-wrap { width:1300rem; margin:0 auto; padding:33rem 0 70rem; } 
.title-wrap h2.main-tit { font-size:30rem; color:#222; font-weight:700; line-height:44rem; letter-spacing:-0.018em; } 


/* 테이블 타입 1 */
.table-alert { display:flex; align-items:center; height:52rem; gap:8rem } 
.table-alert strong { font-size:18rem; font-weight:500; } 
.table-type01 { width:100%; max-width:1300rem; border-radius:3rem; background:#fff; outline:solid 1px #BBB; } 
.table-type01 .num { width:100rem; } 
.table-type01 tr { height:30rem; border-bottom:solid 1px #BBB } 
.table-type01 tr:last-child { border-bottom:0 } 
.table-type01 tr:nth-child(odd) { background:#F5FCF9 } 
.table-type01 tr:nth-child(even) { background:#fff } 
.table-type01 th { font-size:16rem; background:#3BB88C; color:#fff; font-weight:400 } 
.table-type01 td { font-size:14rem; text-align:center; border-right:solid 1px #BBB } 
.table-type01 td:first-child, .table-type01 td:last-child { border-right:0 } 
.table-type01 td div { height:30rem; display:flex; align-items:center; justify-content:center; } 
.table-type01 td div:first-child { border-bottom:solid 1px #bbb; } 
.table-type01 td.setting .input-wrap { display:flex; gap:60rem; justify-content:center; } 

/* 테이블 타입 2*/
.table-type02 { width:100%; max-width:800rem; border-radius:3rem; background:#fff; outline:solid 1px #BBB; } 
.table-type02 .col:first-child { width:30% } 
.table-type02 .col:last-child { width:70% } 
.table-type02 thead { background:#f4f4f4; } 
.table-type02 tr { height:34rem; border-bottom:solid 1px #bbb; } 
.table-type02 tbody tr:last-child { border-bottom:0 } 
.table-type02 th { font-weight:500; color:#222; } 
.table-type02 th, .table-type02 td { border-right:solid 1px #bbb; padding:7rem 14rem; font-size:15rem; } 
.table-type02 th:last-child, .table-type02 td:last-child { border-right:0 } 

/* 인포 리스트 */
.info-list-type01 { display:flex; gap:20rem; flex-direction:column; } 
.info-list-type01 li { display:flex; min-height:44rem; align-items:center; } 
.info-list-type01 .title { width:160rem; font-size:18rem; font-weight:500; word-break:nowrap } 
.info-list-type01 .info { width:100% } 
.info-list-type01 li.table-li { align-items:flex-start; } 
.info-list-type01 input, .info-list-type01 .select-wrap { display:inline-block; margin:0; width:390rem; max-width:100%; } 
.info-list-type01 input + input, .info-list-type01 .select-wrap + .select-wrap { margin-left:16rem } 
.info-list-type01 li .input-wrap.red .alert { top:-17rem } 
.btn-wrap { display:flex; gap:14rem; } 

/* 레이아웃 LAY OUT */

/* TOP AREA 탑영역 */
#topArea.tab { padding-bottom:12rem } 
#topArea.tab .title-wrap, #topArea.search .title-wrap { padding-bottom:16rem } 
#topArea.search .search-wrap { display:flex; justify-content:space-between}
#topArea.search .search-wrap .select-wrap { width:120rem; }
#topArea.search .search-wrap .left {position:relative; display:flex; align-items:flex-end; gap:12rem}
#topArea.search .search-wrap .left .num {margin-bottom:5rem}
#topArea.search .search-wrap input[type="text"] {width:380rem;}

#bottomArea { width:100%; max-width:1300rem; margin:0 auto; display:flex; justify-content:flex-end } 






/* 팝업 */
.popup-cont{display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;/*width: 100vw;height: 100vh;*/background: rgba(0,0,0,0.5);}
.modal-wrap{border: 1px solid #bbb;background: #fff;border-radius: 3rem;width: 100%;max-width: 400rem;padding: 48rem 14rem 26rem;position: relative;}
.modal-wrap.txt-align-left .modal-tit, .modal-wrap.txt-align-left .modal-info > p{text-align: left;}
.modal-wrap .modal-closed{width: 28rem;height: 28rem;position: absolute;top: 15rem;right: 10rem;}
.modal-wrap .modal-tit{font-size: 24rem;line-height: 32rem;font-weight: bold;text-align: center;margin-bottom: 10rem;}
.modal-wrap .modal-info p{text-align: center;font-size: 14rem;line-height: 22rem;color: #646464;}
.modal-wrap .modal-logo{width: 100%;}
.modal-wrap input:not(input[type="button"], input[type="checkbox"]){height: 48rem;width: 100%;border: 1px solid #ddd;outline: none;padding: 18rem 14rem;font-size: 14rem;border-radius: 3rem;margin-top: 0;}
.modal-wrap input:not(input[type="button"]):focus{border: 1px solid #0066B3;}
.modal-wrap .input-list{margin-top: 26rem;}
.modal-wrap .input-list > div:not(:first-child){margin-top: 16rem;}
.modal-wrap .guideline{color: #999;text-decoration: underline;font-weight: bold;display: block;}
.modal-wrap .button-wrap .guideline{margin-top: 14rem;font-size: 14rem;text-align: center;}
.modal-wrap .input-list > div.password-wrap .find-password{font-size: 10rem;margin-top: 6rem;margin-left: auto;text-align: right;}
.alert{color: #E81953;font-size: 12rem;position: absolute;top: -20rem;font-weight: bold;}
.modal-wrap .button-wrap{margin-top: 36rem;}

.modal-wrap.login-modal{max-width: 500rem;padding: 36rem 70rem;border-radius: 8rem;border: 1px solid #fff;}
.modal-wrap.login-modal .button-wrap{margin-top: 30rem;position: relative;}
.modal-wrap.login-modal .button-wrap .alert{left: 50%;transform: translateX(-50%);display: none;}

.modal-info-cont{border: 1px solid #bbb;background: #f4f4f4;border-radius: 5rem;margin-top: 21rem;height: 194rem;position: relative;overflow: hidden;}
.modal-info-list{width: 95%;height: 90%;position: absolute;top: 50%;right: 5rem;transform: translateY(-50%);overflow-y: auto;}
.modal-info-list::-webkit-scrollbar {width: 6rem;}
.modal-info-list::-webkit-scrollbar-thumb {background: #E5E5E5;border-radius: 5rem;}
.modal-info-list > li{font-size: 12rem;line-height: 17rem;color: #222;}
.modal-info-list > li:not(:first-child){margin-top: 4rem;}
.modal-search{width: 100%;display: flex;justify-content: space-between;}
.modal-search > input[type="text"]{width: calc(80% - 4rem)!important;height: 32rem!important;padding: 0!important;padding-left: 9rem!important;}
.modal-search > input[type="button"]{width: calc(20% - 4rem);height: 32rem;background: #f4f4f4;border: 1px solid #bbb;border-radius: 3rem;font-size: 14rem;}

/* modal-table */
.modal-info-cont.modal-info-table{margin-top: 12rem;height: 397rem;background: #fff;}
.modal-info-cont.modal-info-table .modal-info-thead{display: flex;align-items: center;border-bottom: 1px solid #bbb;background: #f4f4f4;}
.modal-info-cont.modal-info-table .modal-info-thead > li{text-align: center;padding: 3rem 0;font-size: 12rem;}
.modal-info-cont.modal-info-table .modal-info-thead > li.checkbox{width: 15%;}
.modal-info-cont.modal-info-table .modal-info-thead > li:nth-child(2){width: 20%;}
.modal-info-cont.modal-info-table .modal-info-thead > li:nth-child(3){width: 65%;}
.modal-table {width: 100%;height: 372rem;overflow-y: auto;}
.modal-table table{width: 100%;}
.modal-table::-webkit-scrollbar {width: 6rem;}
.modal-table::-webkit-scrollbar-thumb {background: #E5E5E5;opacity: 0.5;}
.modal-table tbody tr{border-bottom: 1px solid #bbb;}
.modal-table tbody tr td{padding: 8rem 0;text-align: center;font-size: 12rem;}
.modal-table .modal-table-noresult{width: inherit;height: inherit;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.modal-table .modal-table-noresult .noresult-icon{width: 96rem;}
.modal-table .modal-table-noresult p{color: #7B7B7B;margin-top: 20rem;font-size: 14rem;}
.modal-info-table .input-wrap{align-items: center;justify-content: center;}
.modal-info-table .input-wrap input[type="checkbox"]::after{width: 16rem;height: 16rem;background-repeat: no-repeat;background-size: contain;background-position: center;}

#bottomArea { width:100%; max-width:1300rem; margin:0 auto; position:relative; display:flex; align-items:center; margin-top:26rem; } 
#bottomArea .btn-wrap:last-child {position:absolute; top:50%; right:0; transform:translateY(-50%)}
#bottomArea #pagination {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)}
